.home-page {
    display: flex;
    align-items: center;
    gap: 15px;
}

img.home-img {
    width: 400px;
    height: 600px;
    border-radius: 6px;
}

.home-text-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.welcome-msg {
    width: 30ch;
    font-size: 2rem;
}

.welcome-text {
    width: 60ch;
    text-align: justify;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button.home-btn {
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* ================= CAROUSEL ================= */

.container {
    width: 950px;
    display: flex;
    justify-content: center;
}

.carousel-view {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
}

.item-list {
    width: 700px;

    display: flex;
    flex-direction: row;
    gap: 3.5rem;

    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item-list::-webkit-scrollbar {
    display: none;
}

.item-card {
    scroll-snap-align: center;
    background-color: red;

    min-width: 600px;
    height: 150px;

    padding: 1rem;
}

.item-card:first-of-type {
    margin-left: 3rem;
}

.item-card:last-of-type {
    margin-right: 3rem;
}

.carousel-view button {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
}