:root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}

header {
    padding-top: 1rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

nav button {
    appearance: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

#content {
    margin-top: 2rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: auto;
    padding: 1rem;
}




